body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    padding: 50px;
    text-align: center;
    background-color: lightblue;
    color: black;
}

@media only screen and (max-width: 600px) {
    .box {
        background-color: red;
        font-size: 14px;
    }
}

@media only screen and (min-width: 601px) {
    .box {
        background-color: orange;
        font-size: 16px;
    }
}

@media only screen and (min-width: 769px) {
    .box {
        background-color: green;
        font-size: 20px;
    }
}

@media only screen and (min-width: 992px) {
    .box {
        background-color: bisque;
        font-size: 23px;
    }
}

@media only screen and (min-width: 1200px) {
    .box {
        background-color: yellow;
        font-size: 30px;
    }
}