 /* For External css*/
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightcyan;
}

.sand {
  padding-left: 40px;  
  line-height: 2;
}

.Uno {
    padding-right: 40px;
    padding-left: 40px;  
    line-height: 2;
   
}

.Party {
    padding-right: 40px;
    padding-left: 40px;  
    line-height: 2;   
  
}